.confirmation-container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    margin-top: 20px;
}

.amount-section {
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 20px;
}

.complete-order-button {
    width: 100%;
    margin-top: 20px;
    background-color: #ff5722;
}

.complete-order-button:hover {
    background-color: #ff8c00;
}

.button-back {
    width: 100%;
    margin-top: 20px;
    background-color: #808080;
}

.button-back:hover {
    background-color: #C0C0C0;
}