/* Homepage.css */
body.homepage-page-background {
  background-color: #F4F3F2;
}

.home-page {
    font-family: 'Arial', sans-serif; 
  }
  
  .hero-section {
    background-color: #1B1212;
    color: #fff;
    text-align: center;
    margin-top: -50px;
    padding-top: 1px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  
  .left-info {
    flex: 1;
    max-width: 50%; 
    margin-right: 3%;
  }
  
  .subtitle {
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .right-info {
    flex: 1;
    max-width: 50%; 
    text-align: center; 
    margin-left: 3%;
  }
  
  .theatre-picture {
    max-width: 100%; 
    height: auto; 
    border-radius: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 72px;
    margin: 0;
  }
  
  p {
    font-size: 18px;
  }
  
  
  .description {
    padding: 20px;
    text-align: center;
  }
  
  .cta-button {
    background-color: #FF7F50;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 20px;
  }
  
  .featured-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .movie-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  .movie-card img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  
  .featured-movie {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  .featured-movie-title {
    color: #333;
    font-weight: bold;
    font-size: 40px;
    margin: 1%;
  }

  .carousel {
    max-width: 75%;
  }
  
  .review-text {
    margin-top: 8px;
  }
  

  .movie-news {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; 
  }
  
  .movie-news-info
  {
    justify-content: center;
  }
  
  .movie-news-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .movie-news-title {
    color: #333;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  
  .movie-news-info {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 2%;
    text-align: center;
    }
  
  
    .movie-article-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 20px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 75%;
      height: 500px;
    }
    
    .movie-article-card img {
      width: 100%;
      height: 250px;
      border-radius: 20px;
    }
    
    .articles {
      width: 500px;
    }
    
  
  .movie-news-description {
    margin-top: 8px;
    margin-bottom: 50px;
  }

  .footer {
    background-color: #D1D0CE; 
    text-align: center; 
    padding: 10px; 
    margin-top: 5%; 
  }
  
  .footer p {
    color: #888; 
    font-size: 12px; 
    margin-top: 0; 
  }
  