body.login-page-background {
    background-color: #FF7F50;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.login-page .container {
    color: #333;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 40px auto;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-page .form-label {
    margin-left: 0.5rem;
    font-weight: bold;
}

.login-page .btn-link {
    text-decoration: none;
    color: #ff5722;
    font-weight: 600;
}

.login-page .btn-link:hover {
    color: #ff8c00;
    text-decoration: underline;
}

.login-page .btn-primary {
    background-color: #ff5722;
    border: none;
}

.login-page .btn-primary:hover {
    background-color: #ff8c00;
}

.login-page .btn-primary:active {
    background-color: #ff5722;
}

.login-page .forgot-password-modal-header {
    background-color: #ff5722;
    color: white;
}

.forgot-password-modal-header .btn-close {
    color: white;
    filter: invert(1);
}