.summary-page {
  text-align: center;
  padding: 20px;
}

.summary-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.summary-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.summary-page button {
  background-color: #ff5722;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
  outline: none;
}