/* Navbar.css */
.navbar {
    background-color: #060606 !important;
    padding: 15px !important;
    display: flex !important; 
    justify-content: space-between !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important; 
    background: transparent;
    backdrop-filter: blur(10px);
  }
  
  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    max-width: 50px; 
  }
  
  .navbar-center a,
  .navbar-right img {
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .user-profile-symbol {
    color: white;
    font-weight: bold;
    font-size: 30px; /* Corrected property name */
  }
  