.container {
    padding: 2rem;
}

.payment-header {
    margin-bottom: 3rem;
}

.input-section {
    margin-bottom: 2rem;
}

.input-section label {
    font-size: 1.3em;
    margin-bottom: 10px;
    display: block;
}

.payment-methods .btn {
    margin-right: 1rem;
    background-color: #ff5722;
    border: none;
    text-align: center;
}

.payment-methods .btn:hover {
    background-color: #ff8c00;
}

.summary-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.3em;
}

.summary-item {
    margin-bottom: 10px;
}

.total-cost {
    border-top: 2px solid black;
    padding-top: 1rem;
    font-weight: bold;
}

.actions {
    margin-top: 1rem;
}

.complete-order-btn {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-bottom: 1rem;
    background-color: #ff5722;
    border: none;
    color: white;
}

.complete-order-btn:hover {
    background-color: #ff8c00;
    color: white;
}

.backButton {
    background-color: #808080;
    border-color: #808080;
    color: white;
    text-align: center;
}

.backButton:hover {
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    color: white;
}