body.reviews-page-background {
  background-color: #FF7F50;
}

.reviews-page-height {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.reviews-page {
  color: #333;
  background-color: #f5f5f5;
  padding-bottom: 60px;
  margin: 40px auto;
  border-radius: 8px;
}

.reviews-page .overall-rating {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

.reviews-page .overall-rating h2 {
  font-weight: bold;
}

.reviews-page .overall-rating h3 {
  font-weight: 600;
}

.reviews-page .rating-wrapper {
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 0 auto;
}

.review-card {
  background-color: #ff5722;
  color: #fff;
  border: 1px solid #ffb347;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.review-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.review-content {
  display: flex;
  flex-direction: column;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  font-style: italic;
  color: white;
}

.rating {
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
}

.star {
  color: #FDCC0D;
  font-size: 24px;
}

.reviews-page .see-more-button,
.reviews-page .back-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.2s;
  border: none;
}

.reviews-page .see-more-button {
  background-color: #ff5722;
  color: white;
}

.reviews-page .see-more-button:hover {
  background-color: #ff8c00;
}

.reviews-page .back-button {
  background-color: #808080;
  color: white;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews-page .back-button:hover {
  background-color: #C0C0C0;
}

.reviews-page .rating-and-number-wrapper {
  text-align: center;
}

.reviews-page .average-rating-number {
  font-size: 18px;
  font-weight: 600;
}

.reviews-page .movie-poster {
  display: block;
  height: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 0 auto 20px;
}

@media (max-width: 768px) {

  .reviews-page {
    margin: 20px auto;
    padding-bottom: 30px;
    width: 90%;
  }

  .reviews-page .overall-rating {
    padding-top: 10px;
  }

  .review-card {
    padding: 15px;
    margin-bottom: 15px;
  }

  .review-title {
    font-size: 18px;
  }

  .review-text {
    font-size: 14px;
  }

  .rating {
    font-size: 20px;
  }

  .reviews-page .see-more-button,
  .reviews-page .back-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}